<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Welcome to Smart Parking App</title>
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    html {
        font-family: "Montserrat", sans-serif;
    }
    </style>
</head>
<body>
    <img src="https://i.imgur.com/pgT6bDK.png" />
    <h1>Welcome!</h1>
    <% if (typeof verificationCode!=='undefined') { %>
    <div style="height: 24px; margin-top: 24px; display: flex; align-items: center;">
        <p style="font-size: 1.2rem;">Your verification code is: </p>
        <span style="font-size: 1.2rem; font-weight: 600; margin-left: 4px;"><%= verificationCode %></span>
    </div>
    <p style="margin-top: 8px;">Thank you for joining SMART PARKING APP.</p>
    <% } %>
</body>
</html>